<footer class="sections-footer">
  <div class="sections-footer-container">
    <div class="sections-footer-container-left">
      <p>The source code for this UI is licensed under the terms of the MPL-2.0 license.</p>
    </div>
    <div class="sections-footer-container-right">
      <a href="https://github.com/eclipse-esmf/eclipse-esmf.github.io/edit/main/documentation/modules/ROOT/pages/index.adoc">Edit this page</a>
    </div>
  </div>
</footer>


