:root {
  --esmf-primary: #0028cd;
  --esmf-dark-gray: #323d43ff;
  --esmf-black: #000;
  --esmf-footer-font-color: #fff;
  --esmf-font-family: "Cairo", sans-serif;
  --esmf-heading-font-weight: 500;
}
