.navbar-brand .navbar-item + .navbar-item {
  flex-grow: 1;
  justify-content: flex-end;
}

#search-input {
  color: #333;
  font-family: inherit;
  font-size: 0.95rem;
  width: 150px;
  border: 1px solid #dbdbdb;
  line-height: 1.5;
}

.search-result-dropdown-menu {
  position: absolute;
  z-index: 100;
  display: block;
  right: 0;
  left: inherit;
  /* left: 0; */
  top: 100%;
  border-radius: 4px;
  margin: 6px 0 0;
  padding: 0;
  text-align: left;
  height: auto;
  background: transparent;
  border: none;
  max-width: 600px;
  min-width: 500px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

.search-result-dataset {
  position: relative;
  border: 1px solid #d9d9d9;
  background: #fff;
  border-radius: 4px;
  overflow: auto;
  padding: 0 8px 8px;
  max-height: calc(100vh - 5.25rem);
  color: #333;
}

.search-result-highlight {
  color: #174d8c;
  background: rgba(143, 187, 237, 0.1);
  padding: 0.1em 0.05em;
}

.search-result-item {
  display: flex;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.search-result-document-title {
  width: 33%;
  border-right: 1px solid #ddd;
  color: #a4a7ae;
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem 0.25rem 0;
  text-align: right;
  position: relative;
  word-wrap: break-word;
}

.search-result-document-hit {
  flex: 1;
  font-size: 0.75em;
  color: #02060c;
  font-weight: 700;
}

.search-result-document-hit > a {
  color: inherit;
  display: block;
  padding: 0.5rem 0 0.5rem 1rem;
  margin-bottom: 0.25rem;
}

.search-result-document-hit > a:hover {
  background-color: rgba(69, 142, 225, 0.05);
}

/* New sections layout of landing page */

.sections-page #search-input {
  border: 2px solid #496583;
  padding: 0.5rem 0.25rem;
  color: #496583;
  font-family: inherit;
  font-size: 1.25rem;
  line-height: 1.5;
  width: 18rem;
}

.sections-page #search-input:active {
  border: 2px solid var(--eclipse-orange) !important;
}

.search-input-landing {
  margin-top: 1.25rem;
  padding-right: 4rem;
  background-color: white;
}

.search-input-landing:focus {
  border: 2px solid var(--eclipse-orange) !important;
}

.sections-page .search-result-dropdown-menu {
  position: absolute;
  z-index: 100;
  display: block;
  left: 0;
  top: 100%;
  border-radius: 4px;
  padding: 0;
  text-align: left;
  height: auto;
  background: transparent;
  border: none;
  max-width: 600px;
  min-width: 500px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

.sections-page #search-input:hover {
  border: 2px solid var(--eclipse-orange);
}

.search-input-landing:hover {
  border: 2px solid var(--eclipse-orange);
}

/* Mobile */

@media screen and (min-width: 1441px) {
  .sections-page .search-result-dropdown-menu {
    margin-left: 1.5rem !important;
    margin-top: -4rem !important;
  }
}

@media screen and (max-width: 1440px) {
  .search-result-dropdown-menu {
    margin-left: 1.5rem !important;
    margin-top: -5.5rem !important;
  }
}

@media screen and (max-width: 1024px) {
  .navbar-brand {
    flex-grow: 1;
  }

  .navbar-menu {
    flex-grow: 0;
  }

  .search-input-landing {
    width: 1200px;
    padding: 2 2.25em;
    padding-right: 2rem;
  }

  .search-result-dropdown-menu {
    margin-left: 2.5rem !important;
    margin-top: -1.5rem !important;
  }
}

/* @media screen and (min-width: 769px) {
  #search-input {
    width: 200px;
  }

} */

@media screen and (max-width: 768px) {
  .navbar-brand .navbar-item + .navbar-item {
    padding-left: 0;
    padding-right: 0;
  }

  .search-input-landing {
    margin-top: 1.25rem;
    padding-right: 4rem;
    background-color: white;
    width: 16.75rem !important;
  }

  .sections-page .search-result-dropdown-menu {
    min-width: calc(100vw - 3.75rem);
    margin-top: -23rem !important;
    margin-left: 1.5rem !important;
  }

  .search-input-landing:hover {
    border: 2px solid var(--eclipse-orange);
  }
}

@media screen and (max-width: 375px) {
  .sections-page .search-result-dropdown-menu {
    margin-top: -14.5rem !important;
    margin-left: -0.5rem !important;
  }
}
