html.is-clipped--navbar {
  overflow-y: hidden;
}

/* body {
  padding-top: var(--navbar-height);
} */

.sections-header {
  border-bottom: 0.1rem solid var(--nav-border-color);
  padding-bottom: 0.75rem !important;
  margin-top: -3rem;
  margin-bottom: 1.25rem;
}

.sections-navbar {
  background: white;
  color: var(--navbar-font-color);
  font-size: calc(16 / var(--rem-base) * 1rem);
  height: var(--navbar-height);
  /* position: fixed; */
  top: 0;
  /* width: 100%; */
  z-index: var(--z-index-navbar);
  width: 66.66667rem;
  margin: 0 auto;
}

.sections-navbar a {
  text-decoration: none;
}

.sections-navbar-brand {
  /* display: flex; */
  padding-left: 1rem;
  flex: 46%;
}

.sections-navbar-brand .sections-navbar-item:first-child,
.sections-navbar-brand .sections-navbar-item:first-child a {
  align-self: center;
  padding: 0;
  color: var(--navbar-font-color);
  font-size: calc(22 / var(--rem-base) * 1rem);
}

.sections-navbar-brand .separator {
  padding: 0 0.375rem;
}

.sections-navbar-burger {
  background: none;
  border: none;
  outline: none;
  line-height: 1;
  position: relative;
  width: 3rem;
  margin-left: auto;
  padding: 0;
  /* display: flex; */
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-right: 12rem;
}

.sections-navbar-burger span {
  background-color: var(--navbar-font-color);
  height: 1.5px;
  width: 1rem;
}

.sections-navbar-burger:not(.is-active) span {
  transition: transform ease-out 0.25s, opacity 0s 0.25s, margin-top ease-out 0.25s 0.25s;
}

.sections-navbar-burger span + span {
  margin-top: 0.25rem;
}

.sections-navbar-burger.is-active span + span {
  margin-top: -1.5px;
}

.sections-navbar-burger.is-active span:nth-child(1) {
  transform: rotate(45deg);
}

.sections-navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
  transform: rotate(-45deg);
}

.sections-navbar-item,
.sections-navbar-link {
  color: var(--navbar-menu-font-color);
  display: block;
  line-height: var(--doc-line-height);
  padding: 0.5rem 1rem;
}

.logo-headline-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  height: var(--navbar-height);
  padding: 10px 0 10px 0;
}

.logo-headline-wrapper svg {
  height: 3.25rem !important;
  width: auto;
}

.sections-docu-title {
  display: none;
}

.sections-navbar-item.has-dropdown {
  padding: 0;
}

.sections-navbar-item .icon {
  width: 1.25rem;
  height: 1.25rem;
  display: block;
}

.sections-navbar-item .icon img,
.sections-navbar-item .icon svg {
  fill: currentColor;
  width: inherit;
  height: inherit;
}

.sections-navbar-link {
  padding-right: 2.5em;
}

.sections-navbar-dropdown .sections-navbar-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.sections-navbar-divider {
  background-color: var(--navbar-menu-border-color);
  border: none;
  height: 1px;
  margin: 0.25rem 0;
}

.sections-navbar .button {
  display: inline-flex;
  align-items: center;
  background: var(--navbar-button-background);
  border: 1px solid var(--navbar-button-border-color);
  border-radius: 0.15rem;
  height: 1.75rem;
  color: var(--navbar-button-font-color);
  padding: 0 0.75em;
  white-space: nowrap;
}

.sections-nav-list {
  display: flex;
  /* padding: 1rem; */
  gap: 1.25rem;
  list-style: none;
}

.sections-nav-list-mobile {
  list-style: none;
}

.sections-nav-list > li {
  text-decoration: none;
  margin-right: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 0.1rem;
}

.sections-nav-list-mobile > li {
  text-decoration: none;
  margin-right: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 0.1rem;
  color: var(--esmf-tertiary);
}

.sections-nav-list-mobile > li > a,
.sections-nav-list > li > a {
  color: var(--esmf-tertiary);
}

.sections-nav-list > li > a:hover {
  color: var(--eclipse-orange);
}

.sections-nav-list-mobile > li > a:hover {
  color: var(--eclipse-orange);
  text-decoration: none;
}

/* dropdown buttons */

.sections-dropdown {
  float: left;
  overflow: hidden;
}

.sections-dropdown-mobile {
  overflow: hidden;
  margin-left: -0.3rem;
}

.sections-dropdown-mobile .sections-dropdown-button,
.sections-dropdown .sections-dropdown-button {
  font-size: 1.2rem;
  border: none;
  outline: none;
  color: var(--esmf-tertiary);
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.sections-dropdown-button:hover {
  color: var(--eclipse-orange);
}

.fa-angle-right:hover {
  color: var(--eclipse-orange);
}

.sections-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style-type: none;
  padding: 1rem 1rem;
  overflow: visible;
}

.sections-dropdown-mobile > .sections-dropdown-content {
  position: relative;
}

.sections-dropdown-content a {
  float: none;
  color: var(--esmf-tertiary);
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
}

.sections-dropdown-content a:hover {
  color: var(--eclipse-orange);
}

.sections-dropdown:hover .sections-dropdown-content {
  display: block;
}

.sections-dropdown-mobile:hover .sections-dropdown-content {
  display: block;
}

.fa-angle-right {
  font-size: 1.25rem;
}

@media screen and (max-width: 1023.5px) {
  .sections-navbar {
    position: fixed;
  }

  .sections-navbar-brand {
    height: inherit;
  }

  .sections-navbar-brand .navbar-item {
    align-items: center;
    display: flex;
  }

  .sections-navbar-menu {
    background: var(--navbar-menu-background);
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    max-height: var(--body-min-height);
    overflow-y: auto;
    padding: 0.5rem 0;
  }

  .sections-navbar-mobile {
    /* background: var(--navbar-menu-background);
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1); */
    position: fixed;
    top: 8rem;
    max-height: var(--body-min-height);
    overflow-y: auto;
    padding: 0.5rem 0;
  }

  .sections-navbar-menu:not(.is-active) {
    display: none;
  }

  .sections-navbar-menu a.navbar-item:hover,
  .sections-navbar-menu .navbar-link:hover {
    background: var(--navbar-menu_hover-background);
  }
}

@media screen and (min-width: 1024px) {
  .sections-navbar-burger {
    display: none;
  }

  .sections-navbar,
  .sections-navbar-menu,
  .sections-navbar-end {
    display: flex;
  }

  .sections-navbar-menu {
    flex: auto;
  }

  .sections-navbar-end {
    margin-left: auto;
  }

  .sections-navbar-item,
  .sections-navbar-link {
    display: flex;
    position: relative;
    flex: none;
  }

  .sections-navbar-item:not(.has-dropdown),
  .sections-navbar-link {
    align-items: center;
  }

  .sections-navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block;
  }

  .sections-navbar-link::after {
    border-width: 0 0 1px 1px;
    border-style: solid;
    content: "";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    transform: rotate(-45deg);
    width: 0.5em;
    margin-top: -0.375em;
    right: 1.125em;
    top: 50%;
  }

  .sections-navbar-end > .navbar-item,
  .sections-navbar-end .navbar-link {
    color: var(--navbar-font-color);
  }

  .sections-navbar-end > a.navbar-item:hover,
  .sections-navbar-end .navbar-link:hover,
  .sections-navbar-end .navbar-item.has-dropdown:hover .navbar-link {
    background: var(--navbar_hover-background);
    color: var(--navbar-font-color);
  }

  .sections-navbar-end .navbar-link::after {
    border-color: currentColor;
  }

  .sections-navbar-dropdown {
    background: var(--navbar-menu-background);
    border: 1px solid var(--navbar-menu-border-color);
    border-top: none;
    border-radius: 0 0 0.25rem 0.25rem;
    display: none;
    top: 100%;
    left: 0;
    min-width: 100%;
    position: absolute;
  }

  .sections-navbar-dropdown .navbar-item {
    padding: 0.5rem 3rem 0.5rem 1rem;
    white-space: nowrap;
  }

  .sections-navbar-dropdown .navbar-item:last-child {
    border-radius: inherit;
  }

  .sections-navbar-dropdown.is-right {
    left: auto;
    right: 0;
  }

  .sections-navbar-dropdown a.navbar-item:hover {
    background: var(--navbar-menu_hover-background);
  }

  .sections-navbar-mobile {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .sections-header {
    display: none;
  }

  .toolbar {
    top: unset !important;
  }

  body:has(.sections-body) {
    padding-top: 0;
  }

  .sections-body .sections-docu-title {
    display: block;
    margin-left: 35px;
    white-space: nowrap;
    color: #8da5bf;
    margin-top: -2rem;
    z-index: 900;
  }
}
