<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head defaultPageTitle='Untitled'}}
  </head>
  <body class="article">
    {{> sections-header}}
    {{> sections-body}}
    {{> sections-footer}}
  </body>
</html>
